@import "blueprint";

body {
  zoom: 100%;
}

nav#main_navigation {
  font-family: Helvetica, arial, serif !important;
  font-size: 32px !important;
  line-height: 32px;
  padding: 0px;
  h1, h2, a {
  }
  h2 {
    padding: 0px;
  }
  a {
    padding: 4px;
  }
  height: 86px;
  overflow: hidden;
  position: relative;
}

#photos {
  margin-top: 0px;
}
.page
{
  top: 86px;
  padding: 10px;
  font-family: Helvetica, arial, serif !important;
  p, h1. h2, li {
    font-family: Helvetica, arial, serif !important;
  }
}