// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/two_col";

@import "compass/css3/gradient";
@import "compass/css3/text-shadow";

body {
  background-color: #222;
}

nav {
  background-color: black;
  opacity: 0.6;
  z-index: 5000;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  color: white;
  font-family: 'Raleway', arial, serif;
  text-align: center;

  h1 {
    color: white;
    font-size: 14px;
    display: inline-block;
    margin-right: 2em;
    a {
      color: white;
      text-decoration: none;
      padding: 0.5em;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  h2 {
    color: #aaa;
    font-size: 14px;
    display: inline-block;
    padding: 0.5em;
  }
  ul {
    font-size: 14px;
    display: inline-block;
    li {
      display: inline-block;
      a {
        color: #ddd;
        padding: 0.5em;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        &.active {
          color: #ffe;
          text-decoration: underline;
        }
      }
    }
  }
}

.page {
  opacity: 0;
  display:  none;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -220px;
  z-index: 5;
  background-color: rgba(255,255,255,0.95);
  color: #111;
  font-family: 'Raleway', arial, serif;
  width: 320px;
  padding: 60px;
  h1, h2{
    font-size: 16px;
    margin-bottom: 1.5em;
    line-height: 24px;
  }
  p, li {
    font-size: 14px;
    margin-bottom: 1.5em;
    line-height: 18px;
  }
  a {
    color: black;
    text-decoration: underline;
  }
}

a {
  color: #ff9900;
}

#left {
  position: absolute;
  z-index: 2;
  width: 50%;
  height:100%;
  top: 0;
  left: 0;
  cursor: w-resize;
}

#right {
  position: absolute;
  z-index: 2;
  width: 50%;
  height:100%;
  top: 0;
  right: 0;
  cursor: e-resize;
}

#prev_indicator{
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 32px;
  height: 64px;
  display: block;
  z-index: 1;
  border: red;
  opacity: 0.75;
  background-image: url(/sw_arrow_indicator.png);
  background-repeat: no-repeat;
}

#next_indicator{
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 32px;
  height: 64px;
  display: block;
  z-index: 1;
  border: red;
  opacity: 0.75;
  background-image: url(/sw_arrow_indicator.png);
  background-repeat: no-repeat;
  
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}