@charset "UTF-8";
/* line 4, ../../sass/iphone.scss */
body {
  zoom: 100%;
}

/* line 8, ../../sass/iphone.scss */
nav#main_navigation {
  font-family: Helvetica, arial, serif !important;
  font-size: 32px !important;
  line-height: 32px;
  padding: 0px;
  height: 86px;
  overflow: hidden;
  position: relative;
}
/* line 15, ../../sass/iphone.scss */
nav#main_navigation h2 {
  padding: 0px;
}
/* line 18, ../../sass/iphone.scss */
nav#main_navigation a {
  padding: 4px;
}

/* line 26, ../../sass/iphone.scss */
#photos {
  margin-top: 0px;
}

/* line 30, ../../sass/iphone.scss */
.page {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  top: 86px;
  left: 0px !important;
  margin: 0px !important;
  padding: 12px !important;
  width: 100%;
  font-family: Helvetica, arial, serif !important;
}
/* line 38, ../../sass/iphone.scss */
.page p, .page h1, .page h2, .page li {
  font-family: Helvetica, arial, serif !important;
}
