/*
Syntax error: Invalid CSS after "  p, h1.": expected class name, was " h2, li {"
        on line 33 of /files/apps/photo/sass/iphone.scss

Backtrace:
/files/apps/photo/sass/iphone.scss:33
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/scss/parser.rb:838:in `expected'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/scss/parser.rb:813:in `expected'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/scss/parser.rb:796:in `expr!'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/scss/parser.rb:496:in `class_selector'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/scss/parser.rb:467:in `simple_selector_sequence'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/scss/parser.rb:443:in `_selector'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/scss/parser.rb:426:in `selector'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/scss/parser.rb:795:in `send'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/scss/parser.rb:795:in `expr!'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/scss/parser.rb:420:in `selector_sequence'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/scss/parser.rb:332:in `ruleset'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/scss/parser.rb:401:in `declaration_or_ruleset'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/scss/parser.rb:357:in `block_child'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/scss/parser.rb:350:in `block_contents'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/scss/parser.rb:339:in `block'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/scss/parser.rb:333:in `ruleset'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/scss/parser.rb:356:in `block_child'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/scss/parser.rb:350:in `block_contents'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/scss/parser.rb:57:in `stylesheet'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/scss/parser.rb:26:in `parse'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/engine.rb:213:in `_to_tree'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/engine.rb:197:in `_render'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/engine.rb:169:in `render'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/haml/util.rb:294:in `silence_haml_warnings'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/lib/sass/engine.rb:169:in `render'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/compiler.rb:103:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/logger.rb:43:in `red'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/compiler.rb:102:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/compiler.rb:93:in `compile_if_required'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/compiler.rb:84:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/compiler.rb:82:in `each'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/compiler.rb:82:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/commands/watch_project.rb:92:in `recompile'
/Library/Ruby/Site/1.8/rubygems/custom_require.rb:31:in `to_proc'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/path.rb:71:in `call'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/path.rb:71:in `run_callback'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/path.rb:54:in `callback_action'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/path.rb:34:in `update'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/state/directory.rb:32:in `modified'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/state/directory.rb:31:in `each'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/state/directory.rb:31:in `modified'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/state/directory.rb:16:in `refresh'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/fsevents.rb:15:in `add_handler'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/fsevents.rb:14:in `each'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/fsevents.rb:14:in `add_handler'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/rubycocoa/fsevents.rb:107:in `call'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/rubycocoa/fsevents.rb:107:in `initialize'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/fsevents.rb:27:in `call'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/fsevents.rb:27:in `CFRunLoopRun'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/backends/fsevents.rb:27:in `run'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm/monitor.rb:24:in `run'
/Library/Ruby/Gems/1.8/gems/haml-3.0.25/vendor/fssm/lib/fssm.rb:17:in `monitor'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/commands/watch_project.rb:61:in `perform'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/exec/sub_command_ui.rb:38:in `perform!'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Library/Ruby/Gems/1.8/gems/compass-0.10.6/bin/compass:26
/usr/bin/compass:19:in `load'
/usr/bin/compass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"  p, h1.\": expected class name, was \" h2, li {\"\A         on line 33 of /files/apps/photo/sass/iphone.scss"; }
